stages:
  - validate
  - deploy_to_test
  - deploy_to_prod
  - verify_deploy_to_test
  - verify_deploy_to_prod

lint:
  stage: validate
  image: kecorbin/ansible:devel
  script:
    - ansible-playbook --syntax-check -i inventory.yaml site.yaml

deploy_to_test:
  image: kecorbin/ansible:devel
  stage: deploy_to_test
  script:
    - echo "Deploy to test env"
    - ansible-playbook -i inventory/test.yaml site.yaml
  environment:
    name: test
  only:
    - test

validate_test_environment:
  image: ciscotestautomation/pyats:latest-robot
  stage: verify_deploy_to_test
  environment:
    name: test
  only:
    - test
  script:
    - pwd
    - cd tests
    # important: need to add our current directory to PYTHONPATH
    - export PYTHONPATH=$PYTHONPATH:$(pwd)
    - robot --noncritical noncritical --variable testbed:./test_testbed.yml validation_tasks.robot

  artifacts:
      name: "pyats_robot_logs_${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
      when: always
      paths:
        - ./tests/log.html
        - ./tests/report.html
        - ./tests/output.xml

deploy_to_prod:
  image: kecorbin/ansible:devel
  stage: deploy_to_prod
  script:
    - echo "Deploy to prod env"
    - ansible-playbook -i inventory/prod.yaml site.yaml
  environment:
    name: production
  only:
    - production
  when: manual
  allow_failure: false
  only:
  - production

validate_prod_environment:
  image: ciscotestautomation/pyats:latest-robot
  stage: verify_deploy_to_prod
  dependencies:
    - deploy_to_prod
  only:
    - production
  script:
    - pwd
    - cd tests
    - export PYTHONPATH=$PYTHONPATH:$(pwd)
    - robot --noncritical noncritical --variable testbed:./prod_testbed.yml validation_tasks.robot
  artifacts:
      name: "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
      when: always
      paths:
        - ./tests/log.html
        - ./tests/report.html
        - ./tests/output.xml
