
interface Tunnel1
 no shutdown
 description Inside Tunnel1
 ip address {{ Tunnel1.ip }} {{ Tunnel1.mask }}
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 ip mtu 1400
 ip nhrp authentication {{ dmvpn1.nhrp_authentication_key }}
 ip nhrp map multicast {{ dmvpn1.primary_headend_public_ip }}
 ip nhrp map {{ dmvpn1.primary_headend_tunnel_ip }} {{ dmvpn1.primary_headend_public_ip }}
 ip nhrp network-id {{ dmvpn1.nhrp_network_id }}
 ip nhrp holdtime {{ dmvpn1.nhrp_holdtime }}
 ip nhrp nhs {{ dmvpn1.primary_headend_tunnel_ip}}
 ip tcp adjust-mss 1360
 delay 1000
 qos pre-classify
 tunnel source {{ Tunnel1.source_interface }}
 tunnel destination {{ dmvpn1.primary_headend_public_ip }}
 tunnel key {{ dmvpn1.tunnel_key }}
 tunnel protection ipsec profile vpnprofile shared
!
interface Tunnel2
 no shutdown
 description Inside Tunnel2
 ip address {{ Tunnel2.ip }} {{ Tunnel2.mask }}
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 ip mtu 1400
 ip nhrp authentication {{ dmvpn2.nhrp_authentication_key }}
 ip nhrp map multicast {{ dmvpn2.primary_headend_public_ip }}
 ip nhrp map {{ dmvpn2.primary_headend_tunnel_ip }} {{ dmvpn2.primary_headend_public_ip }}
 ip nhrp network-id {{ dmvpn2.nhrp_network_id }}
 ip nhrp holdtime {{ dmvpn2.nhrp_holdtime }}
 ip nhrp nhs {{ dmvpn2.primary_headend_tunnel_ip }}
 ip tcp adjust-mss 1360
 delay 1000
 qos pre-classify
 tunnel source {{ Tunnel2.source_interface }}
 tunnel destination {{ dmvpn2.primary_headend_public_ip }}
 tunnel key {{ dmvpn2.tunnel_key }}
 tunnel protection ipsec profile vpnprofile shared
