<header id="appHeader" class="header">
    <div class="header-bar container">
        <a class="btn btn--small btn--icon toggle-menu">
            <span class="icon-list-menu"></span>
        </a>
        <a class="header-bar__logo">
            <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title">Head End Management Portal</h1>
            </div>
        </div>
        <div class="header-toolbar">
            <a class="btn btn--small btn--icon">
                <span class="icon-search"></span>
            </a>
            <a class="btn btn--small btn--icon">
                <span class="icon-alert"></span>
            </a>
            <a class="btn btn--small btn--icon">
                <span class="icon-cog"></span>
            </a>
        </div>
    </div>
</header>
